aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
coloredlogs==15.0
humanfriendly==9.1
idna==2.8
iso8601==0.1.14
m3u8==0.8.0
mttkinter==0.6.1
multidict==5.1.0
mutagen==1.45.1
Pillow==8.2.0
pyaria2==0.1.1
pycryptodome==3.10.1
pyncm==1.6.1
pyparsing==2.4.7
pyreadline==2.1
qrcode==6.1
requests==2.25.1
six==1.15.0
soupsieve==2.2
typing-extensions==3.7.4.3
urllib3==1.26.3
yarl==1.6.3
